* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --background-color: rgb(255, 253, 253);
    --text-color: #333;
}



body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.dark-theme {
    --background-color: #333;
    --text-color: #fff;
}

.dark-theme form {
    background-color: #333;
    color: #fff;
    border: 2px solid #fff;
}

.dark-theme .quizSubmit {
    background-color: #333;
    color: #fff;
    border: 2px solid #fff;
}


.header {
    background-image: url('../assets/pictures/texture-17.jpg');
    width: 100%;
    height: 20%;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;

}

.header-text h1 {
    color: #111010;
    font-size: 4em;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

.header-content {

    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

#themeBtn {
    background-color: #5e90c5;
    color: #fdfbfb;
    border: none;
    padding: 9px 14px;
    border-radius: 50px;
    cursor: pointer;
}

p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2%;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0;
}

h3 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0;
}

ul {
    list-style-type: disc;
    margin-left: 10%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown a {
    color: black;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    border: 2px solid #ddd;
    background-color: rgb(240, 244, 252);
    border-radius: 5px;
}

.dropdown a:hover {
    background-color: #ddd;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(240, 244, 252);
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background-color: rgb(240, 244, 252);
}

.gallery-item {
    text-align: center;
}

.gallery img {
    margin-top: 10%;
    max-width: 90%;
    height: auto;
}

.gallery-item:hover {
    transform: scale(0.9);
    transition: transform 0.5s;
    border: #373535 solid 2px;
    border-radius: 5px;
    background-color: rgb(240, 244, 252);
}

form {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1em;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(240, 244, 252);
    border: 2px solid #ddd;
    border-radius: 5px;
}

label {
    font-weight: bold;
}

input[type="radio"] {
    display: none;

}

input[type="radio"]+label {
    position: relative;
    padding-left: 5%;
    cursor: pointer;
}

input[type="radio"]+label:before {
    content: "";
    position: absolute;
    left: 1px;
    top: 2px;
    width: 10px;
    height: 10px;
    border: 2px solid #007bff;
    border-radius: 50%;
}

input[type="radio"]:checked+label:before {
    background-color: #007bff;
    border: 2px solid #007bff;

}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

br {
    margin-top: 10px;
}

.buttonspace {
    text-align: center;

}

.buttonspace button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.buttonspace button:hover {
    background-color: #0056b3;
}

.quizSubmit {
    background-color: #f5f7f9;
    padding: 10px 20px;
    text-align: center;
    color: #333;
}

.quizSubmit submit {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}


.quizSubmit quizResults {
    background-color: #f5f7f9;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;

}

.link {
    text-align: center;
    margin: 1%;
    margin-left: 5%;
    font-size: 1.2em;
    margin-bottom: 0;
}

.link a {
    color: #4e9cdc;
    text-decoration: none;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    margin-top: 5%;
    display: flex;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 60%;
    width: 80%;
    background-color: rgb(253, 253, 253);

}


tr {
    border: 1px solid #000000;
    font-size: 0.8em;
}

tr:hover {
    background-color: #c0dceb;
}

td {
    border: 1px solid #000000;
    padding: 5px;
}

.insta-link {
    text-align: left;
    margin-left: 20%;

}

.insta-logo {
    width: 10%;
    height: auto;

}

.insta-link:hoover {
    opacity: 0.8;

}

.insta-name {
    font-size: 1em;
    font-weight: bold;
    color: #373535;
    text-decoration: none;
}

.row {
    display: flex;
    padding: 0 4px;
}

.row-2 {
    padding: 0 4px;
    display: flex;
}

/* for desktop:*/
.col-1 {
    width: 100%;
}

.col-2 {
    width: 100%;
    background-color: rgb(57, 125, 177);
}

.col-3 {
    flex: 1;
    background-color: rgb(221, 235, 240);
    border: 2px solid #76afe9;
}

.col-4 {
    flex: 1;
    padding: 10px;
    background-color: rgb(221, 235, 240);
    border: 2px solid #76afe9;
}

.col-4 img {
    width: 100%;
    max-width: 100%;
    border: 2px solid #76afe9;

}

.col-5 {
    flex: 1;
    background-color: rgb(221, 235, 240);

}

.col-5 img {
    width: 100%;
    max-width: 100%;
    border: 2px solid #76afe9;

}

.col-6 {
    flex: 1;
    width: 50%;
    background-color: rgb(200, 219, 226);
    border: 2px solid #76afe9;
}

.col-7 {
    flex: 1;
    width: 50%;
    background-color: rgb(200, 219, 226);
    border: 2px solid #76afe9;
}

.col-8 {
    width: 100%;
    background-color: rgb(221, 235, 240);

}

.col-8-images {
    display: flex;

}

#eka {
    flex: 1;
    width: 1%;
    height: auto;

}

#toka {
    flex: 1;
    width: 1%;
    height: auto;


}

#kolmas {
    flex: 1;
    width: 1%;
    height: auto;

}

#neljas {
    flex: 1;
    width: 1%;
    height: auto;

}


.col-9 {
    width: 100%;
    background-color: rgb(221, 235, 240);

}


[class*="col-"] {
    float: left;
    padding: 0%;

}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* for mobile phones: */

@media (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
        flex: 1;
        text-align: center;
        padding: 10px;
    }

    .header-text h1 {
        font-size: 2em;

    }

    .col-4 img {
        width: 100%;
    }

    .row {
        display: block;
    }

    .row-2 {
        display: block;
    }
    .gallery {
        display: block;
    }
}